geckodriver.log
token.txt
login.txt
bet_bot_db_prove
logs/
.DS_Store
venv/
Functions/.DS_Store
Functions/__pycache__/bot_functions.cpython-36.pyc
logs/bet_bot.log
.idea/bet_bot.iml
.idea/misc.xml
.idea/workspace.xml
Functions/__pycache__/stats_functions.cpython-36.pyc
Functions/__pycache__/db_functions.cpython-36.pyc
Functions/__pycache__/selenium_functions.cpython-36.pyc
.idea/codeStyles/
.idea/inspectionProfiles/
extended_db-journal